.main-wrapper {
  max-width: 920px;
  margin: 0 auto;

  &__title-text {
    padding-top: 10px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
  }

  &__product-table {
    margin: 20px 15px 0;
  }
}
